<script>if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script> 
<div id="freegift_cart_container" name="sca.fg.cart" class="sca-fg-cart-container" style="display: none;">
  <div id="freegift_message" class="owl-carousel"></div>
</div> 
<div id="sca-fg-slider-cart" style="display: none;">
  <div class="sca-fg-cart-title">
    <strong>Select your free gift (s)</strong>
  </div>
  <div id="sca_freegift_list" class="owl-carousel"></div>
</div>
<div id="sca_fg_cart">
{%  include 'subscription-cart-footer' %} 
 <!-- /templates/cart.liquid -->

<div class = "grid--full wrapper">
  <div class = "grid__item large--three-quarters push--large--one-eighth">
    {% if cart.item_count > 0 %}
      <h1 class = "cart-title">{{ 'cart.general.title' | t }}</h1>
      <form action="/cart" method="post" novalidate class="cart table-wrap"><input type="hidden" name="discount" id="discount" value="" />
        <table class="cart-table full table--responsive">
          <thead class="cart__header-labels">
            <th colspan="1"></th>
            <th colspan="2" class="text-left">{{ 'cart.label.product' | t }}</th>
            <th colspan="1" class="text-center">{{ 'cart.label.price' | t }}</th>
            <th class="text-center">{{ 'cart.label.quantity' | t }}</th>
            <th class="text-right">{{ 'cart.label.total' | t }}</th>
          </thead>
          <tbody>
            {% for item in cart.items %} 
 {% include 'wh_calculate_discount' with item.product %} 
 {% include 'wh_variant' with item.variant %}
              <tr class="cart__row table__section">
                <td>
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                    <i class = "custom-icon-x"></i>
                  </a>
                </td>
                <td data-label="{{ 'customer.order.product' | t }}" class = "product-name-label">
                  <a href="{{ item.url | within: collections.all }}" class="cart__image">
           
                    <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                  </a>
                </td>
                <td>
                  <a href="{{ item.url }}" class="h3">
                    {{ item.product.title }}
                  </a>

                  {% if settings.cart_vendor_enable %}
                    <p>{{ item.vendor }}</p>
                  {% endif %}

                  {% comment %}
                    Optional, loop through custom product line items if available

                    For more info on line item properties, visit:
                      - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                  {% endcomment %}
                  {% assign property_size = item.properties | size %}
                  {% if property_size > 0 %}
                    {% for p in item.properties %}
                      {% unless p.last == blank or p.first == "subscription_id" or p.first == "shipping_interval_frequency" or p.first == "shipping_interval_unit_type" %}
                        {{ p.first }}:

                        {% comment %}
                          Check if there was an uploaded file associated
                        {% endcomment %}
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}

                        <br>
                      {% endunless %}
                    {% endfor %}
                  {% endif %}
                </td>
                <td data-label="{{ 'cart.label.price' | t }}">
                  <span class="h3 price text-center">
                    {{ wh_v_price | money }}
                  </span>
                </td>
                <td data-label="{{ 'cart.label.quantity' | t }}">
                {% if customer.tags.size > 0 %}
                 <input type="text" name="updates[{{item.variant.id}}]" id="updates_{{item.variant.id}}" {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %} max='{{ item.variant.inventory_quantity }}' {% endunless %} value="{{ item.quantity }}" min="0">
                {% else %}
                 <input type="number" name="updates[]" id="updates_{{ item.id }}" {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %} max='{{ item.variant.inventory_quantity }}' {% endunless %} value="{{ item.quantity }}" min="0">
                {% endif %}
                </td>
                <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
                  <span class="h3 price">
                    {{ wh_v_price | times: item.quantity | money }}
                  </span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="cart__row grid">
          {% if settings.cart_notes_enable %}
            <div class="grid__item large--one-half medium--down-one-whole">
              <textarea name="note" class="input-full" placeholder = "{{ 'cart.general.note' | t }}" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            </div>
          {% endif %}
          <div class="grid__item large--text-right{% if settings.cart_notes_enable %} large--one-half medium--down-one-whole{% endif %}">
            <h3 class="cart__subtotal price">{{ 'cart.general.subtotal' | t }} <span><span class="wh-original-cart-total">{{ cart.total_price | money }}</span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note "></span></div></span></h3>
            <small class = "shipping-note light-gray">{{ 'cart.general.shipping_at_checkout' | t }}</small>
            <input type="submit" name="update" value="{{ 'cart.general.update' | t }}">
            <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
          </div>
        </div>
      </form>
    {% else %}
    {% comment %}
      The cart is empty
    {% endcomment %}
    <h2>{{ 'cart.general.title' | t }}</h2>
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    {% endif %}
  </div>
</div>{% if customer.tags.size > 0 %}
  {% include 'wh_cart' %}

  <script>
    //ensure cart is updated if quantities are changed so we can recalculate the discount
    if (typeof ensureCorrectQuantites == "function"){
      var checkoutElements = ["input[name='checkout']", "button[name='checkout']", "input[name='goto_pp']", "button[name='goto_pp']", "input[name='goto_gc']", "button[name='goto_gc']", "[href$='checkout']"];
      window.cartToEnsure = {{ cart | json }}
      for (var i = 0, len = checkoutElements.length; i < len; i++) {
        var element = checkoutElements[i];
        jQuery(element).bind("click", function(){          
          return ensureCorrectQuantites(window.cartToEnsure, "#updates_{variant_id}");
        })
      }
    }
    
    if (typeof ensureInStock == "function"){
      var checkoutElements = ["input[name='checkout']", "button[name='checkout']", "input[name='goto_pp']", "button[name='goto_pp']", "input[name='goto_gc']", "button[name='goto_gc']", "[href$='checkout']"];
      for (var i = 0, len = checkoutElements.length; i < len; i++) {
        var element = checkoutElements[i];
        jQuery(element).bind("click", function(){          
          return ensureInStock();
        })
      }
    }
  </script>
{% endif %}

</div>