{% layout none %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ shop.name }}</title>
    {% include 'google-fonts' %}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    {{ 'webfont.js' | asset_url | script_tag }}

  </head>
  <body class = "template-password">
    <div class="password-page__wrapper">
      <div class="password-page__signup-form wrapper">
        <div class = "toggle-wrapper">
          <small>
          <a href = "#" id = "AdminLoginToggle" class = "inline-list" onclick="$('#AdminLogin').show();$('#CustomerSignup').hide();$('.errors').hide();"> {{ 'password.buttons.store_login' | t }}</a> |
          <a href = "#" id = "NewsletterToggle" class = "inline-list" onclick ="$('#AdminLogin').hide();$('#CustomerSignup').show();$('.errors').hide();">{{ 'password.buttons.newsletter_signup' | t }}</a>
          </small>
        </div>
        <div class = "grid">
          <div class = "grid__item large--one-half push--large--one-quarter medium-down--one-whole">
            {% if settings.logo_use_image %}
              <img class = "password-logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            {% endif %}
            <br><br>
            <h3>Fall / Winter 2016 Coming Soon...</h3>
            <!--{% unless shop.password_message == blank %}
            <p>{{ shop.password_message }}</p>
          {% endunless %}-->
          {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if settings.newsletter_form_action_url != blank %}
              {% assign form_action = settings.newsletter_form_action_url %}
            {% else %}
              {% assign form_action = '#' %}
            {% endif %}
            {% if form.posted_successfully? %}
              <p>{{ 'password.form.success' | t }}</p>
            {% else %}
              <div id ="CustomerSignup">
                <p>{{ 'password.form.newsletter_title' | t }}</p>
                <input type="hidden" name="contact[tags]" value="prospect, password page" placeholder = "{{ 'password.form.login' | t }}">
                <input class = "signup-input inline-list" type="email" name="contact[email]" id="email" placeholder="{{ 'password.form.placeholder' | t }}">
                <input type="submit" class = "btn--small customer-signup-button" value="{{ 'password.buttons.sign_up' | t }}">
              </div>
            {% endif %}
          {% endform %}
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
            {% else %}
              <div id = "AdminLogin" style = "display:none">
                <p>{{ 'password.buttons.store_login' | t }}</p>
                <input class = "inline-list password-input" type='password' name='password' id='password'>
                <input type="submit" class="btn--small password-login-button" value="{{ 'password.buttons.login' | t }}" >
              </div>
            {% endif %}
          {% endform %}
          <div>
            <!-- Social Icons -->
            {% if settings.social_sharing_products %}
              {% include 'social-sharing' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script>
// Inline because there's no need to include main JS file
// Load in Google Fonts
var fonts = window.fonts || [];
if(fonts.length && !window.isLTie9){
  WebFontConfig = {
    google: {families: fonts},
    custom: {
       families: ['custom-icons'],
       urls: ["{{ 'custom-icons.scss' | asset_url }}"]
    },
    classes: false,
    fontinactive: function(familyName, fvd) {
      console.log("Error: font '" + familyName + "' was not loaded.");
    },
    timeout: 3000
  };
  WebFont.load(WebFontConfig);
}

// Quick fix to align buttons and inputs
var signupHeight = $('.customer-signup-button').outerHeight();
$('.signup-input').css('height',signupHeight);
$('.password-input').css('height',signupHeight);
</script>

